h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Pacifico', cursive;
	@include fontsmoothing;
}

p {
	color: $color-grey;
	font-family: 'Open Sans', sans-serif;
	@include mq-sm {
		font-size: 0.75rem;
	}
}

ul,
li {
	list-style: none;
}
