.white-bg-box {
	display: flex;
	align-items: center;
	justify-content: center;
	@include centerall;
	width: 40%;
	@include mq-lg {
		width: 45%;
	}
	@include mq-md {
		width: 50%;
	}
	@include mq-sm {
		width: 85%;
	}

	.white-box {
		border-radius: 10px;
		background: $color-white;
		@include box-shadow(0 1px 10px fn-transparent-color($color-black, 0.2));
		border-bottom: 5px solid $color-primary;
		.white-box-content {
			padding: 2rem;
			text-align: center;
			@include mq-md {
				padding: 1.5rem;
			}
			@include mq-sm {
				padding: 1rem;
			}
		}
	}
}
