@import './scss/partials/variables';
@import './scss/partials/mixins';
@import './scss/partials/typography';

body {
	background: $color-primary;
	background: -webkit-linear-gradient(to right, $color-primary, $color-secondary);
	background: linear-gradient(to right, $color-primary, $color-secondary);
	height: 100vh;
	width: 100%;

	.main-container {
		height: 100vh;
		width: 100%;
		position: relative;
	}

	.white-bg-box {
		@include centerall();
		width: 40%;

		.white-box {
			border-radius: 10px;
			background: $color-white;
			@include box-shadow(0 1px 10px fn-transparent-color($color-black, 0.2));
			border-bottom: 5px solid $color-primary;
			.white-box-content {
				padding: 2rem;
				text-align: center;
			}
		}

		h1.start-title {
			font-size: 3rem;
			color: $color-secondary;
			@include text-shadow(0 2px 2px fn-transparent-color(darken($color-secondary, 30%), 0.2));
		}

		input[type='text'] {
			padding: 1rem 0.5rem;
			color: $color-grey;
			border-radius: 5px;
			border: 2px solid lighten($color-grey, 15%);
			width: 65%;
			margin: 2rem auto;
			text-align: center;
			font-size: 1rem;
			text-transform: uppercase;
			letter-spacing: 2px;
			font-weight: 800;
			@include transition(0.2s all ease-in-out);
			&:focus {
				outline: none;
				border: 2px solid $color-primary;
			}
		}

		.begin-button {
			display: block;
			cursor: pointer;
			width: 300px;
			margin: 1rem auto 3rem auto;
			border: none;
			background: $color-primary;
			padding: 0.5rem 1.5rem;
			color: $color-white;
			border-radius: 25px;
			@include box-shadow(0 5px 30px $color-primary);
			font-size: 1.25rem;
			font-family: 'Pacifico', sans-serif;
			@include transition(0.2s all ease-in-out);
			&:active,
			&:focus {
				outline: none;
			}

			&:hover {
				background: darken($color-primary, 5%);
			}
		}
	}
}

.white-box {
	.question-header {
		padding: 0.5rem 2rem;
		border-bottom: 2px solid #efefef;
		border-radius: 10px 10px 0 0;
		@include clearfix();
		h6 {
			font-size: 1.125rem;
			color: $color-secondary;
			width: 50%;
			float: left;
			margin: 0;
		}
		h6.assesment-name {
			text-align: left;
		}
		h6.assesment-number {
			text-align: right;
		}
	}
}

.white-box-content {
	h3.question-counter {
		color: $color-primary;
	}
	p.question {
		font-size: 2rem;
		font-family: 'Pacifico', cursive;
	}
}

.white-box-content {
	.answers-list {
		border-top: 2px solid #efefef;
		margin: 0;
		padding: 0;
		padding-top: 1rem;
		.answer {
			background: $color-secondary;
			margin: 1rem 0;
			padding: 1rem 0;
			color: $color-white;
			font-size: 0.8rem;
			border-radius: 10px;
			text-transform: uppercase;
			letter-spacing: 1px;
			font-weight: 600;
			cursor: pointer;
			max-width: 300px;
			margin: 1rem auto;
			@include transition(0.1s all ease-in-out);
			&:hover {
				background: darken($color-secondary, 5%);
			}
			&:active {
				background: darken($color-secondary, 10%);
			}
		}
	}
}

.results {
	@include clearfix;
	margin: 3rem 0;
	.assesment-score {
		width: 50%;
		float: left;
		img {
			max-width: 50px;
		}
		h3 {
			color: $color-secondary;
		}
		.score {
			font-family: 'Pacifico', cursive;
			font-size: 2rem;
			line-height: 0.5;
			margin-bottom: 1rem;
			color: $color-grey;
		}
	}
}
